<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>2170728587-i7hhebp6d58arq18ndr5iasml4q0e809.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2170728587-i7hhebp6d58arq18ndr5iasml4q0e809</string>
	<key>API_KEY</key>
	<string>AIzaSyDPGsAgTAo1curJqHj07oaLCvJ2UxBV-8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>2170728587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BobW.ProjectOne</string>
	<key>PROJECT_ID</key>
	<string>projectone-7d8a9</string>
	<key>STORAGE_BUCKET</key>
	<string>projectone-7d8a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2170728587:ios:693c831cff25f74c</string>
	<key>DATABASE_URL</key>
	<string>https://projectone-7d8a9.firebaseio.com</string>
</dict>
</plist>